*{
margin: 0;
padding: 0;
box-sizing: border-box;



}

$bgColor:pink;
$fontfamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$navbgcolor: #30a7c3;
$bannercolor: hotpink;







body{


    background-color:$bgColor;
    font: size 1.2rem;
    font-family: $fontfamily;
    color: white;
}


header{

background-color:$navbgcolor;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;

img{
width: 80px;
border: 2px solid;
border-radius: 1rem;

}
ul{


    list-style-type: none;
    li{

        display: inline-block;
        padding: 1rem;
        &:hover{

            text-decoration: underline;
        }
    }

a{
    color:white ;
    text-decoration: none;
}


}



}


.banner{

background-color: $bannercolor;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
line-height: 2rem;


aside{
    button{

        padding: 0.5rem;
        border: none;
        background-color: rgb(175, 31, 103);
       color: #1a0310;
       &:hover{

        background-color: pink;
        cursor: pointer;
        transform: scale(.97);
       }

    }




}

img{

    width: 30%;
    max-width: 400px;
    min-width: 250px;
}

}

@mixin myBox($a, $b)
{  width: 25%;
    height: 15rem;
    background-color: $a;
    border-radius: 10px;
    color: $b;
    display: flex;
    justify-content: center;
    align-items: center;


}





.cards{
    display: flex;
    gap: 1rem;
    padding: 1rem;


    .card1{

@include myBox(blue,yellow )

    }
    .card2{
        @include myBox(rgb(243, 23, 203),rgb(72, 0, 255) )



    }
    .card3{

        @include myBox(rgb(0, 255, 170),rgb(255, 72, 0) )


    }
    .card4{
        @include myBox(rgb(250, 254, 6),rgb(113, 8, 250) )


    }

}

.articles{


    display: flex;
    padding: 1rem;
    gap: 1rem;

.article1{
    
background-color: gray;
width: 50%;
height: 10rem;
border-radius: 10px;
border: solid 2px black;
display: flex;
justify-content: center;
align-items: center;

}


.article2{

    @extend .article1;
    background-color: purple;
}


}



footer{
    $dark:1;




    p{
        @if $dark==1{
            background-color: #30a7c3;
        } @else if $dark==2 {
            background-color: #1a0310;
        } @else{
            background-color: red;
        }

    }





}

.social-icons{
    display: flex;
    height: 10rem;
    $textColor: #990000, #55004e, #0fa8a1, #dcacf1, #64c217;

    @for $i from 1 through 5 {
        .social#{$i}{
            width: 20%;
            background-color: lighten(blue, $i*5);
            font-size: 1rem * $i;
            color: nth($textColor , $i );
        }
    }
}
